.nachalo{
display: flex;
justify-content: space-between;
align-items: space-between;
padding: 20px 20px 20px;
margin:20px 20px 20px ;
flex-wrap: wrap;
width: 600px;
height: 600px;
border: solid 2px blue;
background-color: #5a6acd;
}
.odin{
padding: 20px 20px 20px;
margin:20px 20px 20px ;
width: 100px;
height: 100px;
border: solid 2px black;
background-color: #409cff;
}


.dva{
padding: 20px 20px 20px;
margin:20px 20px 20px ;
width: 100px;
height: 200px;
border: solid 2px black;
background-color: #409cff;
}
.tri{
padding: 20px 20px 20px;
margin:20px 20px 20px ;
width: 200px;
height: 100px;
border: solid 2px black;
background-color: #409cff;
}